<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
        <appenders>
                <Console name="Console" target="SYSTEM_ERR">
                        <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
                </Console>
        </appenders>

        <loggers>
            <root level="warn">
              <appender-ref ref="Console"/>
            </root>
            <logger name="edu.dnatools" level="INFO" />
            <logger name="org.apache.catalina.core" level="INFO" />
            <logger name="org.springframework" level="INFO" />
            <logger name="org.deeplearning4j" level="INFO" />
            <logger name="org.canova" level="INFO" />
            <logger name="org.datavec" level="INFO" />
            <logger name="org.nd4j" level="INFO" />
            <logger name="opennlp.uima.util" level="OFF" />
            <logger name="org.apache.uima" level="OFF" />
            <logger name="org.cleartk" level="OFF" />
            <logger name="org.biojava" level="OFF" />
        </loggers>
</configuration>

